/*---------- color palate-----------
	
			gray= #6b6b6b
			red= #f93536
			light red= #fc9596
	also use white and black for borders
*/

body{
	font: .9375em/1.5 Tahoma, Geneva, sans-serif;
	max-width: 800px;
	margin: 0 auto;
	background-image: url(../images/backgroundred.jpg);
	background-color: #fff;
	background-repeat: repeat-x;
}

/* header css */
header{
	background: rgba(0,0,0,0);
	box-shadow: 10px 10px 5px #6b6b6b;
	border: 1px solid #000;
	height: 50px;
	width: 100%;
}

#nav{
	width: 56.25%;
	margin: 1.25% auto;
	list-style: none;
	padding: 0;
	float: right;
	overflow: hidden;
}

.link{
	width: 22.222222222222%;
	padding: 1.1111111111%;
	float: right;
}

.navlink{
	text-decoration: none;
	background: #000;
	display: block;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
}

a:visited{
	color: #6b6b6b;
}

a:hover{
	color: #f00;
	background: #000;
}

a:active{
	background: #fff;
}

/* main contact css */
h1{
	font: 3.75em/1.5;
	margin: 12.5% auto;
	text-align: center;
	text-shadow: 30px 30px 15px #fff;
	clear: right;
	clear: both;
}

address{
	text-align: center;
	clear: both;
}

/* Media Queries
===========================================*/

  /* Tablet Portrait size to standard 960 (devices and browsers)*/
  	@media screen and (min-width:768px) and ( max-width:959px ){
  	
}
  
  
  
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers)*/
  	@media only screen and (min-width:480px) and ( max-width:767px ){
		#nav{float: none; padding: 2.222222222222%;}
		.navlink{overflow: hidden;}	
}
  	

  
  
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)*/
 		 @media only screen and ( max-width:479px ){
		#nav{float: none; padding: 2.222222222222%;}
		.navlink{overflow: hidden;}	
}