/*---------- color palate-----------
	
			gray= #6b6b6b
			red= #f93536
			light red= #fc9596
	also use white and black for borders
*/

body{
	font: 100%/1.5 Tahoma, Geneva, sans-serif;
	max-width: 800px;
	margin: 0 auto;
	background-image: url(../images/backgroundred.jpg);
	background-color: #fff;
	background-repeat: repeat-x;
}

/* header css */
header{
	background: rgba(0,0,0,0);
	box-shadow: 10px 10px 5px #6b6b6b;
	border: 1px solid #000;
	height: 50px;
	width: 100%;
}

#nav{
	width: 56.25%; /*450px*/
	margin: 1.25% auto; /*10px*/
	list-style: none;
	padding: 0;
	float: right;
	overflow: hidden;
}

.link{
	width: 22.222222222222%; /*100px*/
	padding: 1.1111111111%; /*5px*/
	float: right;
}

.navlink{
	font: 0.875em;
	text-decoration: none;
	background: #000;
	display: block;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	padding: 1.11111111111%;
}

a:visited{
	color: #6b6b6b;
}

a:hover{
	color: #f00;
	background: #000;
}

a:active{
	background: #fff;
}

h2{
	font: 3.75em/1.5;
	margin: 12.5% auto;
	text-align: center;
	text-shadow: 30px 30px 15px #fff;
	clear: right;
	clear: both;
}

#field1{
	margin-left: 11%;
	width: 75%;
	
}

#field2{
	float: left;
	width: 40%;
}
input:focus{
	background: #fc9596;
}

#opinion_head{
	margin: 2% auto;
	text-align: center;
}

#options{
	text-align: center;
}

#message_head{
	margin: 2% auto;
	text-align: center;
}

textarea{
	box-shadow: 10px 10px 5px #6b6b6b;
	border: 1px solid #000;
	margin-left: 20%;
	margin-right: 20%;
}

#contact_head{
	margin: 2% auto;
	text-align: center;
}

.checkbox{
	display: block;
	margin-left: 44.25%;
    padding-right: 10px;
    padding-left: 22px;
    text-indent: -22px;
}

button {
	height: 2em;
	width: 10em;
	margin-top: 2%;
	margin-left: 43.25%;
	margin-bottom: 2%;
	background: #6d6d6d;
	color: #000;
	border-radius: 10px;
}

button:hover{
	background: #f00
}

/* footer css*/
footer{
	background: #f93536;
	border: 2px solid #000;
	height: 80px;
	width: 100%;
}

#footer{
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
}

.footerlist{
	margin-left: 11.25%; /* 90px */
	margin-right: 11.25%; /* 90px */
	padding: 0.322580645161%;
	float: left;
}

.footerlink{
	font: .875em;
	color: #000;
	height: 40px;
	line-height: 80px;
	text-align: center;
}

a:visited{
	color: #6b6b6b
}

a:hover{
	color: #fff
}

a:active{
	color: #f00;
}


 /* Tablet Portrait size to standard 960 (devices and browsers)*/
  	@media screen and (min-width:768px) and ( max-width:959px ){
  		.footerlist{margin-left: 5%; margin-right:5%;}
  	
}
  
  
  
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers)*/
  	@media only screen and (min-width:480px) and ( max-width:767px ){
		#nav{float: none; padding: 2.222222222222%;}
		.navlink{overflow: hidden;}	
		#field2{width:90%;}
		textarea{margin: 0;}
		.footerlist{ margin-left: 2%; margin-right: 2%;}
}
  	

  
  
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)*/
 		 @media only screen and ( max-width:479px ){
		#nav{float: none; padding: 2.222222222222%;}
		.navlink{overflow: hidden;}
		fieldset{margin: 0; border: 0;}
		.sublegend{display: none;}
		textarea{margin: 0; width: 90%;}
		button{margin-left: 25%; margin-top: 2%; margin-bottom: 2%;}
		.checkbox{margin-left: 30%;}
		footer{background:none; border: none; border-top:1px solid;}
		.footerlist{ float: none;}
}



